ColumnLimit: 0
IndentWidth: 4
IndentCaseBlocks: true
IndentCaseLabels: true

AlignAfterOpenBracket: false
AlignOperands: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: true
BreakBeforeBraces: Attach
IncludeBlocks: Preserve
